<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Campainha Virtual</title>
    </head>
    <body>
        <h1>Camera</h1>
        <hr>
        <form action="" method="POST">
            <table>
                <tr>
                    <td>Endereço da Câmera</td>
                    <td><input type="text" name="ip" value="{{camera.ip}}"></td>
                    <td>Descrição</td>
                    <td><input type="text" name="descricao" value="{{camera.descricao}}"></td>
                </tr>
            </table><br>
            <input type="submit" value="Atualizar">
            <br>
        </form>
        <br>

        <br><br><br>
        <a href="{{url_for('index')}}">Voltar</a>

    </body>
</html>